.heading
  %h1 Sign in

.row
  .col-sm-3
  .col-sm-6

    - form_for @conn, session_path(@conn, :create), [as: :session], fn f ->

      = PBF.email_input f, :email

      - forgot_password = link("Forgot password?", to: password_path(@conn, :new))
      = PBF.password_input f, :password, input: [help: forgot_password]

      - cancel = link "Cancel", to: landing_path(@conn, :show), class: "btn btn-link"
      = PBF.submit f, "Sign In", class: "btn-primary", alternative: cancel

  .col-sm-3
