.actions.waypoint-nav.clearfix
  - if @prev_waypoint do
    - link to: tour_waypoint_path(@conn, :show, @tour, @prev_waypoint), class: "btn btn-default btn-inverse btn-sm pull-left" do
      %i.fa.fa-arrow-circle-left
      Previous

  - if @next_waypoint do
    - link to: tour_waypoint_path(@conn, :show, @tour, @next_waypoint), class: "btn btn-default btn-inverse btn-sm pull-right" do
      Next
      %i.fa.fa-arrow-circle-right
