.actions.waypoint-nav.clearfix
  - if @prev_waypoint do
    - link to: current_user_tour_waypoint_path(@conn, :show, @tour, @prev_waypoint), class: "btn btn-dark btn-sm pull-left" do
      %i.fa.fa-arrow-circle-left
      Previous

  - if @next_waypoint do
    - link to: current_user_tour_waypoint_path(@conn, :show, @tour, @next_waypoint), class: "btn btn-dark btn-sm pull-right" do
      Next
      %i.fa.fa-arrow-circle-right

  - else
    - link to: current_user_tour_waypoint_path(@conn, :new, @tour), class: "btn btn-success btn-sm pull-right" do
      %i.fa.fa-plus
      New Waypoint
