- path = current_user_tour_waypoint_path(@conn, :update, @tour, @waypoint)
- form_for @changeset, path, [multipart: true], fn f ->
  = render "_form.html", f: f, conn: @conn, changeset: @changeset, tour: @tour

  - cancel = link "Cancel", to: current_user_tour_waypoint_path(@conn, :show, @tour, @waypoint), class: "btn btn-link"
  - delete = link "Delete", to: current_user_tour_waypoint_path(@conn, :delete, @tour, @waypoint), class: "btn btn-outline-danger", method: :delete, data: [confirm: "Are you sure?"]

  = PBF.submit f, "Update Waypoint", class: "btn-primary", alternative: [cancel, delete]
