- path = current_user_tour_waypoint_path(@conn, :create, @tour)
- form_for @changeset, path, [multipart: true], fn f ->
  = render "_form.html", f: f, conn: @conn, changeset: @changeset, tour: @tour

  .form-group.row
    .col-sm-10.offset-sm-2
      = submit "Create Waypoint", class: "btn btn-primary"
      = link "Cancel", to: current_user_tour_path(@conn, :show, @tour), class: "btn btn-link"
