- path = current_user_tour_waypoint_path(@conn, :create, @tour)
- form_for @changeset, path, [multipart: true], fn f ->
  = render "_form.html", f: f, conn: @conn, changeset: @changeset, tour: @tour

  - cancel = link "Cancel", to: current_user_tour_path(@conn, :show, @tour), class: "btn btn-link"
  = PBF.submit f, "Create Waypoint", class: "btn-primary", alternative: cancel
