- path = current_user_tour_waypoint_photo_path(@conn, :update, @tour, @waypoint, @photo)
- form_for @changeset, path, [multipart: true], fn f ->

  - url = LoadedBike.Web.PhotoUploader.url({@photo.file, @photo}, :large)
  - photo = img_tag url, class: "w-100"
  = PBF.static f, "Current Photo", photo

  = render "_form.html", f: f

  - cancel = link "Cancel", to: current_user_tour_waypoint_path(@conn, :show, @tour, @waypoint), class: "btn btn-link"
  - delete = link "Delete", to: current_user_tour_waypoint_photo_path(@conn, :delete, @tour, @waypoint, @photo), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-outline-danger"
  = PBF.submit f, "Update Photo", class: "btn-primary", alternative: [cancel, delete]
