.tour-card
  .rider
    by
    = link @tour.user.name, to: user_path(@conn, :show, @tour.user)

  .title
    %h3
      = link @tour.title, to: tour_path(@conn, :show, @tour)

  .waypoints.clearfix
    - waypoints = Enum.with_index(@tour.waypoints)
    - total = length(waypoints)
    - for {wp, index} <- waypoints do
      - css_class = waypoint_css_class(total, index)
      = link content_tag(:span, wp.title), to: tour_waypoint_path(@conn, :show, @tour, wp), data_toggle: "tooltip", title: wp.title, class: css_class
