= link "Delete", to: current_user_tour_path(@conn, :delete, @tour), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-sm float-lg-right"

%h1 Editing tour

= render "form.html", changeset: @changeset, action: current_user_tour_path(@conn, :update, @tour)