.tours
  - for tour <- @tours do
    .tour
      %h2.title
        = link tour.title, to: current_user_tour_path(@conn, :show, tour)

      .map{data-map: "true", data-markers: "#{to_json(tour.waypoints)}"}

      .description
        = markdown(tour.description)

.actions.clearfix
  = link "New Tour", to: current_user_tour_path(@conn, :new), class: "btn btn-primary pull-right"

