.heading
  %h1 Register

.row
  .col-sm-3
  .col-sm-6
    - form_for @changeset, current_user_path(@conn, :create), fn f ->

      = PBF.text_input f, :name
      = PBF.email_input f, :email
      = PBF.password_input f, :password

      - cancel = link "Cancel", to: landing_path(@conn, :show), class: "btn btn-link"
      = PBF.submit f, "Create Account", class: "btn-primary", alternative: cancel
  .col-sm-3
