.heading
  %h1 New Password

.row
  .col-sm-3
  .col-sm-6
    - path = password_path(@conn, :update, token: @user.password_reset_token)
    - opts = [as: :password, method: :put]
    - form_for @conn, path, opts, fn f ->
      = PBF.password_input f, :password

      = PBF.submit f, "Save Password", class: "btn-primary"

  .col-sm-3
