.heading
  %h1 Reset Password

.row
  .col-sm-3
  .col-sm-6
    - form_for @conn, password_path(@conn, :create), [as: :password], fn f ->

      = PBF.email_input f, :email

      - cancel = link "Cancel", to: landing_path(@conn, :show), class: "btn btn-link"
      = PBF.submit f, "Send Recovery Email", class: "btn-primary", alternative: cancel

  .col-sm-3