.jumbotron

.heading
  Recently published tours
  = link "View All Tours", to: tour_path(@conn, :index), class: "btn btn-sm btn-primary"

.tours
  - for tour <- @tours do
    = render LoadedBike.Web.TourView, "_tour.html", conn: @conn, tour: tour

