.jumbotron

.welcome
  %p
    Hello there. Are you planning a bicycle touring adventure? Maybe you are on one right now?
    This site should be a pretty good resource to discover routes and relevant info on where to go,
    what to see, and more importantly where to stay for the night. Share your tour with others by
    registering and creating waypoints along your jorney.


.heading
  Recently published tours
  = link "View All Tours", to: tour_path(@conn, :index), class: "btn btn-sm btn-secondary"

.tours
  - for tour <- @tours do
    = render LoadedBike.Web.TourView, "_tour.html", conn: @conn, tour: tour

