@import "bootstrap"

// -- Structure ----------------------------------------------------------------
@media(min-width: 1200px)
  .container
    max-width: 960px

body
  background: $white url(/images/bg_ultrawide.png) top center

  footer
    padding: 4em 0
    font-size: 85%
    background-color: $white

// - Common elements -----------------------------------------------------------
.heading
  padding: $breadcrumb-padding-y $breadcrumb-padding-x
  margin-bottom: $spacer-y
  background-color: $breadcrumb-bg
  @include border-radius($border-radius)
  @include clearfix
  a.btn
    float: right

.tour-card
  margin-bottom: 15px
  background-color: $gray-lightest
  padding: 15px
  @include clearfix
  .rider
    float: right
  .count
    border-radius: 5px
    background-color: $white
    width: 100px
    height: 100px
    position: relative
    float: left
    .number
      line-height: 90px
      font-size: 50px
      color: $gray-lighter
      text-align: center
    .label
      width: 100px
      position: absolute
      bottom: 10px
      text-align: center
      color: $gray-lighter
      font-size: 12px
  .description
    margin-left: 115px

.actions
  background-color: $gray-lightest
  padding: 5px

.form-actions
  background-color: $gray-lightest
  padding: 15px

.container.content
  padding: 15px
  background-color: #fff

.map
  height: 400px
  margin-bottom: 15px
  background-color: $gray-lightest

table.table
  th, td
    white-space: nowrap
  td.main
    white-space: normal
    width: 100%

.pull-right
  float: right
.pull-left
  float: left

textarea[data-autoresize]
  height: 300px

// - Page specific styles ------------------------------------------------------
.user_waypoint_show_view, .waypoint_show_view
  .waypoint-nav
    margin-bottom: 15px
  .photos
    margin-bottom: 15px
    .photo
      margin-bottom: 15px
      .image
        margin-bottom: 15px
        position: relative
        a.btn
          position: absolute
          top: 5px
          right: 5px
        img
          width: 100%

.user_show_view, .user_tour_index_view
  .tour
    margin-bottom: 30px

.user_photo_edit_view
  .image
    img
      width: 100%
