@import "bootstrap"

.btn-default
  &.btn-inverse
    @include button-variant($white, $black, $black)
    &:hover
      @include button-variant($black, $white, $black)

// bootstrap fix https://github.com/twbs/bootstrap/pull/21722
.navbar
  @include media-breakpoint-down(nth(map-keys($grid-breakpoints), 1))
    > .container
      margin-right: 0
      margin-left: 0
    .navbar-toggler-right
      right: 0

.btn-nav
  color: $white
  border: 0
  background: transparent
  padding: 2px

// -- Structure ----------------------------------------------------------------
@include media-breakpoint-up(lg)
  .container
    max-width: 960px
  nav.navbar
    li.with-dropdown
      display: block
    li.without-dropdown
      display: none

@include media-breakpoint-down(md)
  nav.navbar
    li.with-dropdown
      display: none
    li.without-dropdown
      display: block

body
  background: $white url(/images/bg_ultrawide.png) top center

  footer
    .container
      font-size: 75%
      padding: 4em 15px
      border-top: 1px dotted $gray-lighter
      background-color: rgba(255,255,255, 0.75)
      ul
        padding: 0
        list-style: none

// - Common elements -----------------------------------------------------------
.alert
  text-align: center

.heading
  margin-bottom: $spacer-y
  background-color: #eceeef
  padding: 0.75rem 1rem
  border-radius: 0.25rem
  @include clearfix
  h1
    font-size: 1rem
    line-height: 1.5
    margin: 0
  a.btn
    float: right

.tour-card
  margin-bottom: 15px
  border-radius: 5px
  border: 1px solid $gray-lighter
  padding: 5px 15px
  .description
    margin-bottom: 5px
  .rider
    display: inline-block
    border: 1px solid $gray-lighter
    background: $gray-lightest
    border-radius: 2px
    padding: 2px 5px 2px 2px
    line-height: 20px
    margin-top: -10px
    margin-right: -10px
  .waypoints
    padding: 5px 0
    a
      display: block
      float: left
      height: 17px
      width: 17px
      margin: 0 2px 2px 0
      background-color: #5fa6d7
      border-radius: 2px
      span
        display: none
    a.start
      background-color: #31c231
    a.finish
      background-color: #bd3434
    a.week
      background-color: #227bc9
    a:hover
      background-color: #c6c630

.actions
  background-color: $gray-lightest
  padding: 5px

.container.content
  padding: 15px
  background-color: #fff

.markdown
  h1, h2, h3, h4, h5, h6, h7, h8, h9, h10
    font-size: 18px
    font-weight: bold

.map
  height: 350px
  margin-bottom: 15px
  background-color: $gray-lightest

table.table
  th, td
    white-space: nowrap
  td.main
    white-space: normal
    width: 100%
table.borderless
  th, td
    border: 0

.pull-right
  float: right
.pull-left
  float: left
.badge
  font-size: 13px
  vertical-align: middle

textarea[data-autoresize]
  height: 300px

.formatting-help
  .link
    font-size: 80%
    padding: 2px 0
  table#formatting-help-table, a#hide-formatting-help
    display: none
  table#formatting-help-table
    th
      background-color: $gray-lightest

#elevation-graph
  svg
    margin-bottom: 15px
    .axis path, .axis line
      fill: none
      stroke: #000
      opacity: 0.1
    .area
      fill: #4294cf
      opacity: 0.4
    .tick
      text
        fill: $gray

.a2a_kit
  display: flex
  justify-content: center

// - Page specific styles ------------------------------------------------------
.landing_show_view
  .jumbotron
    background: url(/images/jumbotron-bg.jpg) center no-repeat
  .welcome
    margin-bottom: 30px
    font-size: 125%

.user_show_view
  .heading.user-info
    .avatar
      float: left
      img
        border-radius: 5px
    .info
      margin-left: 220px
      .name
        font-size: 200%

@include media-breakpoint-down(md)
  .user_show_view
    .heading.user-info
      .avatar
        float: none
        img
          width: 100%
      .info
        margin: 0

.user_waypoint_show_view, .waypoint_show_view, .tour_show_view
  .waypoint-nav
    margin-bottom: 15px
  .photos
    margin-bottom: 15px
    .photo
      margin-bottom: 15px
      .image
        margin-bottom: 15px
        position: relative
        a.btn
          position: absolute
          top: 5px
          right: 5px
        img
          width: 100%

.user_show_view, .user_tour_index_view
  .tour
    margin-bottom: 30px

.user_photo_edit_view
  .image
    img
      width: 100%

.user_tour_show_view
  .short-description, .description
    margin-bottom: 30px
