= F.text_input @f, :title
= F.text_input @f, :short_description, label: "Short Desc"
= F.textarea @f, :description, input_opts: [data: [autoresize: true]]


/= render LoadedBike.Web.UserView, "_formatting_help.html"

/ - F.form_group @f, :status do
/   = input :radio_button, @f, :status, value: "planned"
/   = input :radio_button, @f, :status, value: "active", label: "Current on the road"
/   = input :radio_button, @f, :status, value: "completed", label: "It's finished"

/ .form-group.row
/   %label.col-sm-2.col-form-label.text-sm-right
/     Status
/   .col-sm-10
/     .form-check
/       %label.form-check-label
/         = radio_button @f, :status, "planned", class: "form-check-input"
/         In planning stage
/     .form-check
/       %label.form-check-label
/         = radio_button @f, :status, "active", class: "form-check-input"
/         Currently on the road
/     .form-check
/       %label.form-check-label
/         = radio_button @f, :status, "completed", class: "form-check-input"
/         It's finished!

/ .form-group.row
/   .col-sm-10.offset-sm-2
/     = checkbox @f, :is_published
/     = label @f, :is_published, "Published"
/     .form-control-feedback
/       = error_tag @f, :is_published
