- action_url = current_user_tour_path(@conn, :update, @tour)
- cancel_url = current_user_tour_path(@conn, :show, @tour)
= render "form.html", changeset: @changeset, action: action_url, cancel_url: cancel_url

.form-group.row
  .col-sm-10.offset-sm-2
    = link "Delete", to: current_user_tour_path(@conn, :delete, @tour), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-outline-danger btn-sm"